html{
  scroll-behavior: smooth;
  transition: scroll 2.5s ease-in-out;
}

.projects-section {
  display: flex;
  width: 100vw;
  background-color: #080807;
}

.projects-left {
  position: sticky;
  top: 0;
  background-color: #080807;
}

.projects-right {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .projects-section {
    flex-direction: column;
    width: 100%;
  }

  .projects-left {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .projects-right {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}